body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: auto;
    background-color: rgb(187, 181, 181);
}

.box-1{
    background-color: #333333;
    color: #fff;
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 3px;
    border-top-style:solid;
    padding: 20px;
    margin-top: 20px;
    margin: 20px 0;
}

.box-2{
    background-color: #333333;
    color: #fff;
     width: 200px;
     height: 30px;
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 3px;
    border-top-style:solid;
    padding: 20px;
    margin-top: 40px;
    margin: 40px 0;
    margin-left: 10;
}


.block{
    float: left;
    width: 33.3%;
    border: 5px red solid;
    background-color: #333333;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: unset;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    width: 200px;
}

.flexbox-container{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    height: 100px;
    align-items: stretch;
}

.flexbox-item{
    width: 300px;
    height: 75px;
    margin: 10px;
    border: 3px solid rgb(185, 22, 22);
    background-color: #333333;
    color: #333333 ;
    flex-grow: 1;
    align-items: stretch;
}

.flexbox-item-1{
    min-width: 300px;
    color: white;
    text-align: center;
    line-height: 75px;
    width: 200px;
    flex-shrink: 0;
    align-self: center;
    flex-grow: 1;
    align-items: stretch;
    width: 300;
}

.head{
    color:rgb(126, 87, 14);
    align-items: stretch;
}

.photo{
flex-grow: 1;
border: 5px red solid;
border-width: 3px;
border-bottom-width: 3px;
border-top-style:solid;
align-items: stretch;
width: 200px;
height: 200px;
}

.my-form{
    padding: 20px;
}

.my-form  .form-group{
    padding-bottom: 10px;
}

.my-form  label{
    display: block;
}

.my-form input[type= "text"], .my-form textarea{
    padding: 8px;
    width: 30%;
}

#main-footer-1{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    border: 5px red solid;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 900px;
    border: 5px red solid;
}

.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none
}
.navbar ul{
    width:80%;
    display: flex;
    justify-content: space-around;
}
.navbar ul li{
    padding:12px 50px;
    border:2px solid red;
    
}
.navbar ul li a{
    color:white;
    text-decoration: none;
}

header > a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    padding-right: 20px;
}

.photo{
    float: right;
    margin-bottom: 10px;
}